# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Environments
venv/
ENV/
env/
.env
.venv

# Databases
*.db
instance/

# OS/IDE
.DS_Store
.vscode/
.idea/

# Custom local testing files
test_stock.csv
